@value appleBlue, primary from 'colors' ;
@value small as phone, medium as tablet from 'breakpoints' ;

:root {
  --main-bg-color: peru;
}

.fontType {
  font-size: 2em;
  line-height: 2;
}

.body {
  composes: fontType;
  line-height: 1.5;
  display: flex;
}

.header {
  composes: fontType;
  color: appleBlue;
  text-align: center;
  background: url('../../images/backgrounds/colorful-bg.jpg') papayawhip;

  h1 {
    font-size: 4rem;
  }
}

.pulseAnimation {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  composes: pulse from 'animations.css';
}

.footer {
  composes: fontType;
  border-top: 1px solid grey;
  color: rebeccapurple;
  margin-top: 12px;
  background-color: var(--main-bg-color);
  font-size: 1rem;
}

@media phone {
  .header {
    text-align: center;
  }
}

.svgContainer {
  svg > rect {
    fill: transparent;
  }
}
